{% block sidebar %}
<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-left ">
<div class="card my-4">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text">I have a bachelors in electrical engineering and I am a student of the African Masters in Machine Intelligence. I love Robotics, Computer Vision and Reinforcement Learning.</p>
        <a href= "{% url 'about' %}" class="btn btn-primary">Know more &rarr;</a>
        <hr>
        <div class="text-center">
          <a href="https://www.facebook.com/ababioIB" target="_blank" class="fa fa-facebook" ></a>
          <a href="https://twitter.com/y_s_ibrahim" target="_blank" class="fa fa-twitter" ></a>
          <a href="https://www.linkedin.com/in/ibrahim-salihu-yusuf-721103100/" target="_blank" class="fa fa-linkedin" ></a>
          <a href="https://github.com/Alikerin" target="_blank" class="fa fa-github" ></a>
          <a href="mailto:sibrahim1396@gmail.com" class="fa fa-envelope" target="_blank" ></a>
        </div>
    </div>
</div>
</div>

{% endblock sidebar %}
